//color:
$primary: #000000 !default;

//breakpoint-screen
$breakpoint-se: 376px;
$breakpoint-sp: 481px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
$breakpoint-xxxl: 1600px;
